* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 15vh;
    position: sticky;
    top: 0;
    background: transparent;
    backdrop-filter: blur(5px);
}

main {
    min-height: 85vh;
    z-index: 1;
    background: white;
}

footer {
    background: black;
    color: white;
    font-size: 10em;
    font-weight: 900;
    position: sticky;
    bottom: 0;
    z-index: -1;
    text-align: center;
}

.libre-barcode-128-regular {
  font-family: "Libre Barcode 128", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.movie__poster--img {
    display: inline-block;
}

.movie__year, .movie__title, .movie__id {
    text-align: center;
}

.movie__title, .movie__year {
    padding: 8px;
}

.content-wrap {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-shadow:
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
}

.input-wrap {
    width: 100%;
    max-width: 800px;
    position: relative;
}

.input-wrap input {
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 40px;
    border-radius: 50px;
}

.input-wrap input:focus {
    background: white;
}

.search-wrap {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.search-wrap button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    border: none;
}

.search-wrap button svg {
  width: 32px;
  height: 32px;
}
